@charset "utf-8";
@use 'variables' as vars;

// --------------------
// トップページ
// --------------------

.top {
  // ファーストビューと直下セクションのラッパー
  &-fv_top-fv-after-wrapper {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  // ファーストビュー
  &-fv {
    min-height: 95svh;
    // スクロールUI
    .scroll-ui {
      &-bar {
        &::before {
          content: '';
          background-color: vars.color(typography);
          border-radius: 50%;
          width: 12px;
          height: 12px;
          position: absolute;
          inset: 0 auto auto -6px;
          animation: scroll_ui 1600ms cubic-bezier(0.16, 1, 0.3, 1) both infinite;
          @include vars.respond-to(sm, 'max') {
            width: 9px;
            height: 9px;
            inset: 0 auto auto -5px;
          }
        }
        @keyframes scroll_ui {
          0% {
            transform: translate(0, 0);
          }

          100% {
            transform: translate(0, 900%);
          }
        }
        @media screen and (max-width: 767px) {
          .top-fv-scroll-ui::before {
            width: 8px;
            height: 8px;
          }
        }
      }
      &-text {
        writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
      }
    }
    .img-bg {
      height: 120svh;
    }
  }
  // FV以下のコンテンツ
  &-fv-after {
    // maskはローカルでは機能しない
    -webkit-mask: url(../images/top/top-fv-after-bg-shape.webp) center / 100% 100% no-repeat;
    mask: url(../images/top/top-fv-after-bg-shape.webp) center / 100% 100% no-repeat;
    will-change: transform;
    transform: translateZ(0);
    @include vars.respond-to(sm, 'max') {
      -webkit-mask: url(../images/top/top-fv-after-bg-shape-sm.webp) center / 100% 100% no-repeat;
      mask: url(../images/top/top-fv-after-bg-shape-sm.webp) center / 100% 100% no-repeat;
    }
  }
  // 宇宙に一番近い島は、日本一の「星空の島」でした。
  &-about {
    &-item {
      border-radius: 50%;
      width: 554px;
      height: 530px;
      overflow: hidden;
      @include vars.respond-to(sm, 'max') {
        width: 425px;
        height: 412px;
      }
      &::after {
        content: '';
        background: url(../images/common/main-bg.webp) 0 0 / 100px 100px #0c142b;
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        z-index: -1;
        opacity: 0.6;
      }
    }
  }
  // 動画セクション
  &-movie {
    padding-top: 60px;
    @include vars.respond-to(sm, 'max') {
      padding-top: 210px;
    }
    &-copy {
      bottom: 85%;
      > span {
        &:nth-child(2) {
          top: 50px;
        }
      }
    }
  }
  // 星空スポット一覧
  &-spot {
    article {
      @include vars.respond-to(sm, 'max') {
        &:nth-child(n + 3) {
          display: none; // 3件以降の記事を非表示
        }
      }
    }
  }
  // 星空の体験
  &-event {
    // スライド
    &-slide {
      width: calc(((100vw - 1000px) / 2) + 100% + 15px);
      max-width: 1080px;
      @include vars.respond-to(md, 'max') {
        width: calc(100% + 45px);
      }
      @include vars.respond-to(sm, 'max') {
        width: calc(100% + 30px);
      }
      .swiper {
        &-slide {
        }
      }
    }
  }
}

// --------------------
// 星空スポット詳細
// --------------------

.spots {
  &-thumb {
    max-height: 600px;
  }
}
