@charset "utf-8";
@use 'variables' as vars;

html {
  // font-size: 71.43%;
  font-size: 62.5%;
}

body {
  background: url(../images/common/main-bg.webp) #0c142b;
  font: normal 400 1.4rem / 1.8 'Roboto', 'Zen Kaku Gothic New', 'Noto Sans JP', sans-serif;
  letter-spacing: 0.05em;
  font-feature-settings: 'palt';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: vars.color(typography);
  overflow-x: hidden;
}

body {
  position: relative;
  &::before {
    content: '';
    background: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, /* 線の開始 */ rgba(255, 255, 255, 0.05) 2px, /* 線の太さ */ transparent 1px, /* 線の終わり */ transparent calc(33.333%) /* 次の線の間隔 */);
    background-size: 100% calc(100%); /* 背景サイズを調整 */
    width: clamp(375px, 80vw, 885px);
    height: 100%;
    position: absolute;
    inset: 0 auto 0 50%;
    z-index: -1;
    transform: translateX(-50%);
    pointer-events: none;
    @media screen and (min-width: 885px) {
      width: clamp(375px, 80vw, 100vw);
    }
  }
}

// メイン
main {
  overflow: hidden; // 下部コンテンツのはみ出しを処理するため
}

// 流れ星のシェイプ
.shape-shootingStar {
  // shame：アニメーション実装
  img {
    @include vars.respond-to(sm, 'max') {
      width: 100px;
      height: 100px;
    }
  }
}
