@charset "utf-8";
@use 'variables' as vars;

// --------------------
// グローバルユーティリティ
// --------------------

// フレックスボックス
.fxg1 {
  flex-grow: 1;
} // フレックス内で要素を広げる
.fxs0 {
  flex-shrink: 0;
} // フレックス内で要素を縮小させない

// 背景画像
.bg-main {
  background: url(../images/common/main-bg.webp) 0 0 / 100px 100px #0c142b;
}

// --------------------
// テキストスタイル
// --------------------

// テキスト群
.texts > *:not(:first-child) {
  padding-top: 1em;
}

// テキストの縦書き
.text-v {
  writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  &.ff-enSans {
    position: relative;
    top: auto;
    right: 0.2em;
  }
}

// スマホで縦書きを解除
@include vars.respond-to(sm, 'max') {
  .sm-text-h {
    writing-mode: horizontal-tb;
    -ms-writing-mode: lr-tb;
    -webkit-writing-mode: horizontal-tb;
  }
}

// フォントファミリー
.ff {
  &-jaSerif {
    font-family: 'Zen Old Mincho', serif;
  }
  &-enSerif {
    font-family: 'Cormorant Garamond', serif;
  }
  &-enSans {
    font-family: 'Josefin Sans', serif;
    text-transform: uppercase;
    position: relative;
    top: 0.2em;
  }
}

// --------------------
// 見出しスタイル
// --------------------

.title {
  &-h2,
  &-h3,
  &-h4 {
    font-family: 'Zen Old Mincho', serif;
    color: vars.color(butter);
    line-height: 1.4;
    letter-spacing: 0.1em;
  }

  &-h2 {
    border-bottom: 1px solid vars.color(butter);
    width: fit-content;
    padding-bottom: 0.35em;
    font-size: 250%;
    text-align: center;

    @include vars.respond-to(sm, 'max') {
      font-size: 180%;
    }
  }

  &-h3 {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
    width: fit-content;
    margin: auto;
    font-size: 180%;
    text-align: center;

    @include vars.respond-to(sm, 'max') {
      font-size: 140%;
    }

    &::before,
    &::after {
      content: '';
      flex-shrink: 0;
      background-color: currentColor;
      border-radius: 50%;
      width: 5px;
      height: 5px;
    }
  }

  &-h4 {
    border-bottom: 1px solid vars.color(butter);
    width: fit-content;
    padding: 0 1em 1em;
    font-size: 130%;
    text-align: center;
    position: relative;

    @include vars.respond-to(sm, 'max') {
      font-size: 115%;
    }

    &::before,
    &::after {
      content: '';
      border: 1px solid vars.color(butter);
      border-radius: 50px;
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: -1px;
    }
    &::before {
      clip-path: polygon(0 50%, 50% 50%, 50% 100%, 0% 100%);
      left: -10px;
    }
    &::after {
      clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
      right: -10px;
    }

    // JSで装飾用のDOMを追加
    .js-titleH4-downArrow {
      width: 10px;
      height: 8px;
      position: absolute;
      inset: auto auto -8px calc(50% - 5px);
      z-index: 1;
      &::before,
      &::after {
        content: '';
        display: block;
        clip-path: polygon(0 0, 50% 100%, 100% 0);
        width: inherit;
        height: inherit;
        position: absolute;
      }
      &::before {
        background-color: vars.color(butter);
        inset: 0;
        z-index: 0;
      }
      &::after {
        background-color: vars.color(midnight);
        inset: -2px 0 auto 0;
        z-index: 1;
      }
    }
  }
}

// --------------------
// 画像スタイル
// --------------------

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-fluid-full {
  width: 100%;
  height: auto;
}

.img-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
  z-index: -1;
}

img[src$='arrow.svg'] {
  @include vars.respond-to(sm, 'max') {
    width: 16px;
    height: 13px;
  }
}

// --------------------
// リストスタイル
// --------------------

.ul li {
  padding-left: 1.5em;
  position: relative;

  &::before {
    content: '';
    background-color: vars.color(butter);
    border-radius: 50%;
    width: 6px;
    height: 6px;
    position: absolute;
    inset: calc((0.5em * 1.8) - 3px) auto auto 0;
  }

  &:not(:first-child) {
    margin-top: 1em;
  }
}

// リストスタイルを特定のクラスへ継承
.wp-content_ulWrapper {
  > ul {
    @extend .ul;
  }
}

// テキスト内リストのマージン調整
@at-root .texts .ul li:not(:first-child) {
  margin-top: 0;
}

// --------------------
// インタラクション
// --------------------

$transition-duration: 600ms;
$transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

@media (any-hover: hover) {
  // ホバーで透過
  .hov-op65 {
    transition: opacity $transition-duration $transition-timing-function;
    &:hover {
      opacity: 0.65;
    }
  }
  // ホバーで背景を帯びのように塗りつぶし
  .hov-animation-bgfill {
    position: relative;
    z-index: 1;
    &::before {
      content: '';
      background-color: vars.color(typography, alpha5);
      width: 0;
      height: 100%;
      position: absolute;
      inset: 0 auto auto 0;
      z-index: -1;
      transition: width $transition-duration $transition-timing-function;
    }
    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
  // ホバーで矢印がアニメーション
  .hov-hook-animation-arrowWrapper {
    .icon-arrow {
      transition: transform $transition-duration $transition-timing-function;
    }
  }
  .hov-hook:hover {
    .hov-hook-animation-arrowWrapper {
      .icon-arrow {
        transform: translate(25%, 0);
      }
    }
  }
  // ホバーで画像を拡大
  img.hov-hook-scale {
    transition: transform $transition-duration $transition-timing-function;
    transform-origin: center;
  }
  .hov-hook:hover {
    img.hov-hook-scale {
      transform: scale(1.05);
    }
  }
}

// スクロールでフェードイン
.scroll-view {
  animation: scroll-view 900ms $transition-timing-function both paused;

  @keyframes scroll-view {
    from {
      opacity: 0;
      transform: translate(0, -20px);
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  &.is-scrolled {
    animation-play-state: running;
  }
}

// スクロールで文字が1文字ずつアニメーション
.js-animation-copy {
  display: flex;
  flex-wrap: wrap;
  > span {
    display: inline-block;
    animation: copy-view 900ms $transition-timing-function both paused;
    @keyframes copy-view {
      from {
        opacity: 0;
        -ms-filter: blur(6px);
        filter: blur(6px);
      }
      to {
        opacity: 1;
        -ms-filter: blur(0);
        filter: blur(0);
      }
    }
  }
  &.js-scroll.is-scrolled {
    > span {
      animation-play-state: running;
    }
  }
  // 中央揃え
  &.ta-c {
    justify-content: center;
  }
  // 改行
  &-break {
    display: block;
    width: 100%;
  }
}

// --------------------
// ページネーション
// --------------------

// 現状未定義
// .wp-pagination {}
