@charset "utf-8";
@use 'variables' as vars;

// --------------------
// テキスト
// --------------------

// .text {}

// --------------------
// 画像
// --------------------

// 画像のリサイズ
.img-fluid {
  max-width: 100%;
  height: auto;
}

// 画像のリサイズ（幅100%）
.img-fluid-full {
  width: 100%;
  height: auto;
}

// --------------------
// テーブル
// --------------------

// .table {}

// --------------------
// フォーム
// --------------------

// .form {}

// --------------------
// CSSアイコン
// --------------------

// .cssIcon {}

// --------------------
// インタラクション
// --------------------

// --------------------
// フォーム
// --------------------

// .form {}

// --------------------
// WordPress記事用のページネーション
// --------------------

// .wp-pagination {}
